[Desktop Entry]
Name=xgalaga-hyperspace
Comment=Enhanced xgalaga
Exec=xgalaga-hyperspace
Icon=xgalaga
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
