[Desktop Entry]
Name=Wine Control Panel
Comment=Manage Wine's Settings
Exec=wine control
Icon=winecontrol
Terminal=false
Type=Application
Categories=Settings;System;
